@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 18px; 
  background-color: #1F2937;
  color: #F3F4F6;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}